@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Niramit");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* ---- svg --- */
svg {
  width: 100vw;
}

/* --- svg slut --- *7

/* ----- Menu ------ */
#navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;

  width: 100vw;
  /* border-bottom: 3px solid #f341cc; */
  box-shadow: 0px 3px #666566;
}

#navigation a {
  padding: 30px;
  background-color: #000;
  text-decoration: none;
  color: #666566;
  font-size: 2em;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  width: 40%;
  /*  flex-grow: 1; */
  text-decoration: none;
}

/* ---- sticky menu --- */

.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 1;
}
/* ---- sticky menu slut --- */

/* --- menu hover --- */

#navigation a:hover {
  text-decoration: none;
  box-shadow: 0px 7px #fff;
  /*border-bottom: 7px solid #f341cc; */
  color: #fff;
}

/* --- menu hover slut --- */

/* ------ Menu slut ------ */

#content {
  width: 100vw;
}

/* --- gallery --- */
#portfolio {
  margin: 2rem 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}

.tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.text a {
  text-decoration: none;
  color: #fff;
  font-family: "Niramit", sans-serif;
  text-decoration: none;
}

/* --- gallery hover --- */
.tile {
  position: relative;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.tile:hover .image {
  opacity: 0.1;
}

.tile:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1em;
  font-family: "Niramit", sans-serif;
}

/* --- gallery hover slut --- */
/* --- gallery slut --- */

/* --- footer --- */

footer {
  width: 100vw;
  height: 500px;
  background-image: url(img/footerbillede-01.png);
  padding: 5vw;
}

.footeroverlay {
  background-color: #666566;
  width: 90vw;

  height: 500px;
  opacity: 1;
}
#contentfooter {
  display: grid;
  grid-template-columns: auto auto auto;
}

#contentfooter .grid-item img {
  width: 5vw;
}

.grid-item ul {
  list-style-type: none;
  padding: 1vw;
}

.grid-item ul li {
  padding: 0.5vw;
}

.grid-item ul li a {
  text-decoration: none;
  color: #000;
}
/* --- footer slut ---  */

/* --- about --- */

#contentAbout {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5em;
  color: #fff;
}

.grid-item {
  font-size: 30px;
}

.abouttext {
  padding-top: 40vh;

  grid-column-start: 2;
  grid-column-end: 4;
}

#cv {
  grid-column-start: 1;
  grid-column-end: 4;
}

#circle {
  width: 27vw;
  height: 27vw;
  border: solid 5px #000;
  border-radius: 50%;
}

#sidenav a {
  text-decoration: none;
  color: #666566;
  font-size: 1em;
  font-family: "Varela Round", sans-serif;
}

#sidenav {
  list-style-type: none;
  margin-left: 10vw;
}

#sidenav a:hover {
  color: #fff;
}

.skill {
  width: 15vw;
}

.icon {
  width: 22vw;
}

/*--- contact from ---*/

form {
  color: #fff;
  flex-grow: 100vw;
  font-family: "Niramit", sans-serif;
  font-size: 1.5em;
}

form input {
  width: 25vw;
  height: 3vh;
  font-size: 1em;
}

form textarea {
  width: 25vw;
  font-size: 1em;
}

#contactcontent {
  display: flex;
  margin-left: 30vw;
  margin-right: 37.5vw;
  padding: 5vw;
}

/*--- contact from  slut ---*/
